# MediaCleanup configuration (sample)
# Copy to your home directory as `~/.mediacleanup.conf`.

GOOGLE_ACCOUNT="username_gmail.com"
GOOGLE_DRIVE_ROOT="/Users/${USER}/Library/CloudStorage"
GOOGLE_DRIVE_PATH="GoogleDrive-${GOOGLE_ACCOUNT}/My Drive/Media"
GOOGLE_DRIVE_BASE="${GOOGLE_DRIVE_ROOT}/${GOOGLE_DRIVE_PATH}"
MEDIA_DIRS=(
  "${GOOGLE_DRIVE_BASE}/TV Shows"
  "${GOOGLE_DRIVE_BASE}/Movies"
  "/Users/${USER}/pCloud Drive/My Videos/TV Shows"
  "/Users/${USER}/pCloud Drive/My Videos/Movies"
)
ALLOWED_FILE_EXT=(
  "mp4"
  "mkv"
  "avi"
  "mov"
  "flv"
  "wmv"
  "mpg"
  "mpeg"
  "webm"
  "m4v"
  "srt"
  "DS_Store"
)
